
.hero{
  height: 400px;
  width: 100%;
  background-image: url("../images/red-panda.jpg");
  color: white;
}

li{
width: 10%;
float: left;
list-style: none;
text-align: center;
}


h1{
  font-size: 70px;
  display: inline-block;
  text-align: center;
  margin-bottom: 0px;
}

.listitem1{
  margin-right: 650px;
}

.listitems{
  margin-right: 100;
}

.panda{
  margin-left: 350px;
  margin-bottom: 0px;
  display: block;
  width: auto;
}

.subtitle{
  margin-left: 470px;
  margin-top: 0px;
}

.line{
  height: .2px;
  width: 10%;
  border-top: 50px;
  border: 3px solid white;
  margin-left: 620px;
}
